# NextAuth: https://next-auth.js.org/configuration/options
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google OAuth: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Яндекс OAuth: https://oauth.yandex.ru/client/new
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
